/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* icons */
@import "bootstrap-icons/font/bootstrap-icons.min.css";

/* font */
@font-face {
  font-family: "TT-Supermolot-Neue";
  src: local("Sans-Serif"),
    url("/assets/fonts/TT Supermolot Neue Trial Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: local("Sans-Serif"),
    url("/assets/fonts/TT Supermolot Neue Trial DemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: local("Sans-Serif"),
    url("/assets/fonts/TT Supermolot Neue Trial Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: local("Sans-Serif"),
    url("/assets/fonts/TT Supermolot Neue Trial Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "TT-Supermolot-Neue";
  background-color: #ffffff;
  font-weight: 500;
}

/* device detect */
.ios-specific {
  display: none;
}
.non-ios-specific {
  display: none;
}

/* CSS for iOS devices with touch support */
@supports (-webkit-overflow-scrolling: touch) {
  .ios-specific {
    display: block;
  }
}

/* CSS for devices without touch support (non-iOS devices) */
@supports not (-webkit-overflow-scrolling: touch) {
  .non-ios-specific {
    display: block;
  }
}
