@keyframes pulse {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

@keyframes disabled {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.app-container {
  background-color: $white;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

  .app-header {
    .app-header-title {
      color: $primary;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 600;
      margin: 0px;
      @extend .py-4;
      i {
        margin-right: 0.45rem;
      }
    }
  }

  .app-content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: inherit;
    height: inherit;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .flex-column;
    @extend .gap-4;

    &-open-animate {
      animation: fadeInRight 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }

    &-close-animate {
      animation: fadeOutLeft 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }

    .brand {
      @extend .container;
      text-align: center;
      color: $primary;
      @extend .d-flex;
      @extend .flex-column;
      @extend .gap-3;

      .brand-hero {
        width: 100%;
        height: 220px;
        aspect-ratio: 39/20;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: inherit;
          height: inherit;
        }
      }
      .brand-icon {
        font-size: 6rem;
        &-animate {
          animation: pulse 5s ease-in-out infinite;
        }
      }
      .brand-text {
        margin: 0px;
        font-size: 600;
        text-align: center;
        margin: 0px;
        color: $text-default-color;

        &-title {
          color: $primary;
          font-size: 1.5rem;
          text-align: center;
          font-weight: 700;
          margin: 0px;
        }
      }
    }

    .app-content-list,
    .app-content-list form {
      @extend .container;
      @extend .d-flex;
      @extend .flex-column;
      @extend .gap-3;
    }

    .app-content-text {
      color: $text-default-color;
    }
    .app-content-instruction {
      color: $primary;
      background-color: rgba($bg-color, 0.05);
      border-radius: 0.5rem;
      padding: 1rem;

      p {
        margin: 0px;
      }
    }

    .login-form {
      @extend .card;
      @extend .card-body;
      border: 0px;
      background-color: rgba($bg-color, 0.1);
      animation-fill-mode: forwards;

      &-disabled {
        // opacity: 0.5;
        animation: disabled 0.5s ease-in-out forwards;
      }

      .login-form-error {
        // background-color: #e16368;
        @extend .bg-danger;
        margin-top: calc(-1 * var(--bs-card-spacer-y));
        margin-bottom: var(--bs-card-spacer-y);
        margin-left: calc(-1 * var(--bs-card-spacer-x));
        margin-right: calc(-1 * var(--bs-card-spacer-x));
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        border-radius: $border-radius $border-radius 0px 0px;

        p {
          margin: 0px;
        }
      }

      .form-control {
        border: 0px;
        border-bottom: 1px solid rgba($bg-color, 0.2);
        border-radius: 0px;
        background-color: transparent;
        font-size: 600;
        @extend .py-3;
        &:focus {
          box-shadow: none;
          border-bottom: 1px solid $primary;
        }
        &-last {
          border-bottom: 0px;
        }
      }
    }
  }

  .btn-clear {
    color: $text-default-color !important;
  }
  .btn-primary-light {
    @include button-variant(
      rgba($primary, 0.2),
      transparent,
      $primary,
      $white,
      $primary,
      $primary,
      $white,
      $primary,
      $primary,
      $white,
      $primary
    );
  }
}
