@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color == "light" {
      @include button-variant(
        $value,
        $value,
        $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
        $hover-border: shade-color($value, $btn-hover-border-shade-amount),
        $active-background: shade-color($value, $btn-active-bg-shade-amount),
        $active-border: shade-color($value, $btn-active-border-shade-amount)
      );
    } @else if $color == "dark" {
      @include button-variant(
        $value,
        $value,
        $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
        $hover-border: tint-color($value, $btn-hover-border-tint-amount),
        $active-background: tint-color($value, $btn-active-bg-tint-amount),
        $active-border: tint-color($value, $btn-active-border-tint-amount)
      );
    } @else {
      @include button-variant($value, $value);
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

// .btn.btn-locale-change {
//   border: 0px;
//   color: $primary;
//   font-weight: 600;
// }

.btn.btn-nav-menu {
  border: 0px;
  color: $primary;
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
}

.btn.btn-cta-banner,
.btn.btn-cta {
  border: 0px;
  color: $primary;
  background-color: $bg-color;
  border: 3px solid darken($primary, 10%);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
}

.btn.btn-cta {
  border: 0px !important;
}

.btn.btn-secondary {
  @include button-variant($bg-color, $bg-color);
  color: $bg-color;
  background-color: transparent;
  padding: 0.8rem 1rem;
  font-weight: 600;
}

.btn.btn-primary {
  @include button-variant($primary, $primary);
  color: $bg-color;
  padding: 0.8rem 1rem;
  font-weight: 600;
}
