@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color == "light" {
      @include button-variant(
        $value,
        $value,
        $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
        $hover-border: shade-color($value, $btn-hover-border-shade-amount),
        $active-background: shade-color($value, $btn-active-bg-shade-amount),
        $active-border: shade-color($value, $btn-active-border-shade-amount)
      );
    } @else if $color == "dark" {
      @include button-variant(
        $value,
        $value,
        $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
        $hover-border: tint-color($value, $btn-hover-border-tint-amount),
        $active-background: tint-color($value, $btn-active-bg-tint-amount),
        $active-border: tint-color($value, $btn-active-border-tint-amount)
      );
    } @else {
      @include button-variant($value, $value);
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

// .btn.btn-locale-change {
//   border: 0px;
//   color: $primary;
//   font-weight: 600;
// }

.btn {
  padding: 0.8rem 1rem;
  font-weight: 600;
}

.btn.btn-secondary {
  @include button-variant($bg-color, $bg-color);
  color: $bg-color;
  background-color: transparent;
}

.btn.btn-primary {
  @include button-variant($primary, $primary);
  color: $bg-color;
}

.btn.btn-load-more {
  @include button-variant($primary, $primary);
  color: $primary !important;
  background-color: rgba($primary, 0.05);
  @media (hover: hover) {
    &:hover {
      background-color: rgba($primary, 0.2);
    }
  }
}

.btn.btn-cta {
  @include button-variant($primary, $primary);
  color: $primary !important;
  background-color: rgba($primary, 0.05);
}
