@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Black Italic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Bold Italic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Medium Italic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Medium.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Regular Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Thin Italic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT-Supermolot-Neue";
  src: url("/TT-Supermolot-Neue/TT Supermolot Neue Trial Thin.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
