.navbar {
  position: relative;
  background-color: $bg-color !important;
  // box-shadow: 0px 7px 0px $primary;
  .container {
    justify-content: start !important;
  }
  .navbar-brand {
    font-weight: 700;
    font-size: $spacer * 1.5;
    color: $primary;
    margin-right: $spacer * 0.3;
  }
  .page-title {
    @extend .navbar-brand;
    color: $white;
    font-weight: 500;
    margin-bottom: 0px;
    &:hover {
      color: $white;
    }
  }
  .navigation-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($bg-color, 0.97);
    z-index: 100;
    backdrop-filter: blur(10px);
    display: none;
    &.open {
      display: block;
    }

    .btn.btn-menu {
      @include button-variant(lighten($bg-color, 3%), transparent);
      font-size: 1.2rem;
      color: lighten($primary, 10%);
    }
  }
}
