.navbar {
  position: relative;
  background-color: $bg-color !important;
  // box-shadow: 0px 7px 0px $primary;
  .container {
    justify-content: start !important;
  }
  .navbar-brand {
    font-weight: 600;
    font-size: $spacer * 1.5;
    color: $primary;
    margin-right: 0px;
    text-overflow: ellipsis;
  }
}

.btn.btn-nav-menu {
  border: 0px;
  color: $primary;
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  &.active {
    background-color: darken($bg-color, 5%);
  }
}

.nav-menu-dropdown {
  background-color: darken($bg-color, 5%);
  position: absolute;
  width: 100vw;
  z-index: 10000;
  box-shadow: 0px 0px 30px rgba(#000, 0.2);
  @extend .py-3;
  .nav-link {
    color: $primary;
    border-bottom: 1px solid rgba($primary, 0.15);
    border-radius: 0px;
    font-size: 1.1rem;

    &:last-child,
    &:active {
      border-bottom: none;
    }
    &.active {
      @include border-radius(3px);
      background-color: $primary;
      color: $bg-color;
    }

    p {
      margin-bottom: 0px;
    }

    @media (hover: hover) {
      &:hover {
        @include border-radius(3px);
        background-color: rgba($primary, 0.2);
        color: $primary;
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.nav-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 9999;
}
