.search {
  @extend .w-100;
  background-color: $white;
  border: 1px solid $primary;
  @extend .d-flex;
  @extend .rounded;
  @extend .align-items-center;

  .search__input {
    flex: 1;
    border: none;
    background-color: transparent;
    @extend .px-3;
    @extend .py-2;
    outline: 0px;
    font-weight: 600;
  }

  .geo__icon {
    @extend .py-2;
    @extend .btn;
    @extend .flex-shrink-1;
    color: $text-default-color;
    padding-right: 0px !important;
  }

  .search__button {
    // @include button-variant(rgba(#ffffff, 12%), rgba(#ffffff, 12%));
    @extend .px-3;
    @extend .py-2;
    @extend .btn;
    @extend .flex-shrink-1;
    color: $primary;
  }

  .search__input:focus + .search__button {
    background-color: $primary;
    color: $white;
    border-radius: 0px $border-radius $border-radius 0px;
  }
}

.nav.search-type-select {
  .nav-item {
    flex: 1;

    .nav-link {
      @include border-radius(7px);
      color: $bg-color;
      text-align: center;
      font-weight: 600;
      &.active {
        border: 1px solid $primary;
        background-color: rgba($primary, 0.2);
      }
    }
  }
}
