@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "./fonts.scss";

$white: #ffffff;
$primary: #06d0f9;
$secondary: #7176ed;
$bg-color: #0b2442;
$text-default-color: #6d6d7f;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

@import "./buttons.scss";
@import "./banner.scss";
@import "./navbar.scss";
@import "./cta.scss";
@import "./tiles.scss";

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

body {
  font-family: "TT-Supermolot-Neue";
  background-color: $bg-color;
  color: $white;
}

#nprogress .bar {
  height: 8px !important;
  background-color: #06d0f9 !important;
}

.page {
  @extend .d-flex;
  @extend .flex-column;
}

.container {
  max-width: 960px !important;
}

main {
  @extend .flex-grow-1;
  background-color: #f1f1f6;
  color: $text-default-color;

  .text-theme-black {
    color: $bg-color;
  }

  .text-theme-default {
    color: $text-default-color;
  }
}

.lead {
  @extend .display-6;
  font-weight: 700;
  // font-size: 1.2rem;
  color: $bg-color;
}

.card.card-body {
  border: 0px;
  background-color: rgba(darken($primary, 20%), 0.07);
  margin-bottom: $spacer * 0.5;
  color: $bg-color;

  &.light {
    background-color: $primary;
  }

  .icon {
    font-size: 2rem;
    padding: $spacer * 0.2 $spacer;
    padding-right: $spacer * 2;
    font-weight: 700;
    text-shadow: 2px 2px 0px #e3f9fe;
  }
  .card-content {
    .card-title {
      font-size: 1.4rem;
      margin-bottom: 0px;
      font-weight: 600;
      color: inherit;
    }
    .card-description {
      color: rgba($bg-color, 0.5);
      font-weight: 500;
    }
  }

  @media (hover: hover) {
    &:not(.card-no-link):hover {
      background-color: rgba($primary, 0.2);
      color: $primary;
    }
  }

  &.card-row {
    display: flex;
    flex-direction: row;

    align-items: center;
  }
  &.card-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.card-row-sm {
    display: flex;
    flex-direction: row;
    align-items: center;

    .card-content {
      width: 100%;
      .card-title {
        text-align: center;
      }
    }
  }

  &.promo-card {
    @extend .py-4;
  }
}

.list-group {
  .list-group-item {
    border: 0px;
    border-bottom: 1px solid rgba($bg-color, 0.15);
    &:last-child {
      border-bottom: unset;
    }
  }
}

.link {
  color: darken($primary, 10%);
  text-decoration: none;
  &:hover {
    color: darken($primary, 3%);
    text-decoration: underline;
  }
}

#map {
  border-radius: 10px;
  // box-shadow: 0px 0px 20px rgba($bg-color, 0.2);
  height: 15rem;
}

@include media-breakpoint-up(md) {
  #map {
    height: 20rem;
  }
}
