@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "./fonts.scss";

$white: #ffffff;
$primary: #06d0f9;
$secondary: #7176ed;
$bg-color: #0b2442;
$text-default-color: #6d6d7f;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

@import "./buttons.scss";
@import "./banner.scss";
@import "./navbar.scss";
@import "./cta.scss";
@import "./tiles.scss";
@import "./search.scss";

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

body {
  font-family: "TT-Supermolot-Neue";
  // background-color: $bg-color;
  background-color: #f1f1f6;
  color: $white;
  font-weight: 600;
}

#nprogress .bar {
  height: 8px !important;
  background-color: #06d0f9 !important;
}

.page {
  @extend .d-flex;
  @extend .flex-column;
}

.container {
  max-width: 960px !important;
}

main {
  @extend .flex-grow-1;
  background-color: #f1f1f6;
  color: $text-default-color;

  .text-theme-black {
    color: $bg-color;
  }

  .text-theme-default {
    color: $text-default-color;
  }
}

.lead {
  @extend .display-6;
  font-weight: 700;
  // font-size: 1.2rem;
  color: $bg-color;
}

.list-group {
  .list-group-item {
    border: 0px;
    border-bottom: 1px solid rgba($bg-color, 0.15);
    &:last-child {
      border-bottom: unset;
    }
  }
}

.link {
  color: darken($primary, 10%);
  text-decoration: none;
  &:hover {
    color: darken($primary, 3%);
    text-decoration: underline;
  }
}

#map {
  border-radius: 10px;
  // box-shadow: 0px 0px 20px rgba($bg-color, 0.2);
  height: 15rem;
}

@include media-breakpoint-up(md) {
  #map {
    height: 20rem;
  }
}

.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.3rem rgba($primary, 0.25);
}

.form-floating {
  label {
    color: $bg-color !important;
  }
  input {
    border: 0px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}
