@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "./fonts.scss";

$white: #cdd7de;
$primary: #06d0f9;
$secondary: #7176ed;
$bg-color: #0b2442;
$text-default-color: #6d6d7f;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

body {
  font-family: "TT-Supermolot-Neue";
  background-color: $bg-color;
  color: $white;
  min-height: 100vh;
}

.page {
  @extend .d-flex;
  @extend .flex-column;
  @extend .vh-100;
}

main {
  @extend .flex-grow-1;
  background-color: #ffffff;
  color: $text-default-color;

  .text-theme-black {
    color: $bg-color;
  }

  .text-theme-default {
    color: $text-default-color;
  }
}

.banner {
  background-color: $primary;
  padding: $spacer * 1.5 0px;

  .banner-text {
    font-family: "TT-Supermolot-Neue";

    color: $bg-color;
    &.banner-title {
      @extend .display-3;
      font-weight: 700;
    }
    &.banner-description {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .banner-lead {
    font-family: "TT-Supermolot-Neue";
    font-weight: 700;
    font-size: 1.2rem;
    color: $bg-color;
  }

  .search-form {
    position: relative;
    display: flex;
    background-color: darken($primary, 10deg);
    color: $bg-color;

    input[type="text"] {
      background-color: transparent;
      border: 0px;
      flex: 1;
      padding: $spacer * 0.5 $spacer;
      outline: none;
      color: inherit;
      font-size: $spacer * 1.2;
      font-weight: 600;
      &::placeholder {
        color: lighten($primary, 15%);
      }
    }
    button[type="submit"] {
      background-color: transparent;
      border: 0px;
      padding: $spacer * 0.5 $spacer;
      outline: none;
      color: $bg-color;
      font-size: 1.4rem;
      font-weight: 600;
      cursor: pointer;
    }

    .search-results-list-group.list-group {
      position: absolute;
      top: calc(100% - 9px);
      width: 100%;
      z-index: 1000;

      background-color: inherit;
      color: inherit;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;

      .list-group-item {
        cursor: pointer;
        background-color: inherit;
        color: lighten($bg-color, 10deg);
        &:hover {
          background-color: darken($primary, 5deg);
        }
        padding: auto $spacer * 1.5;
        font-size: 1.15rem;
      }
    }
  }
}

.navbar {
  background-color: $bg-color !important;
  box-shadow: 0px 7px 0px $primary;
  .container {
    justify-content: start !important;
  }
  .navbar-brand {
    font-weight: 700;
    font-size: $spacer * 1.5;
    color: $primary;
    margin-right: $spacer * 0.3;
  }
  .page-title {
    @extend .navbar-brand;
    color: $white;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .btn.btn-locale-change {
    border: 0px;
    color: $primary;
    font-weight: 600;
  }
}

.lead {
  font-weight: 700;
  font-size: 1.2rem;
  color: $bg-color;
}

.card.card-body {
  border: 0px;
  background-color: rgba($primary, 0.15);
  margin-bottom: $spacer * 0.5;
  color: $bg-color;

  .icon {
    font-size: 2rem;
    padding: $spacer * 0.2 $spacer;
    padding-right: $spacer * 2;
    font-weight: 700;
    text-shadow: 2px 2px 0px #e3f9fe;
  }
  .card-content {
    .card-title {
      font-size: 1.3rem;
      margin-bottom: 0px;
      font-weight: 600;
      color: inherit;
    }
    .card-description {
      color: rgba($bg-color, 0.5);
      font-weight: 500;
    }
  }

  &:not(.card-no-link):hover {
    background-color: rgba($primary, 0.8);
  }
  &.card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &.card-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.card-row-sm {
    display: flex;
    flex-direction: row;
    align-items: center;

    .card-content {
      width: 100%;
      .card-title {
        text-align: center;
      }
    }
  }
}

.list-group {
  .list-group-item {
    border: 0px;
    border-bottom: 1px solid rgba($bg-color, 0.15);
    &:last-child {
      border-bottom: unset;
    }
  }
}
