.tip {
  background-color: $bg-color;
  color: $bg-color;

  .tile-tip {
    @extend .py-2;
    @extend .px-3;
    border: 1px solid $primary;
    background-color: rgba($primary, 0.1);

    .tip-tile {
      font-size: 1.3rem;
      font-weight: 700;
      color: $primary;
      margin-bottom: $spacer * 0.3;
    }
    .tip-description {
      color: $primary;
      margin-bottom: $spacer * 0.5;
    }

    .btn-tip {
      @include button-variant($primary, $primary);
      padding: $spacer * 0.3 0px;
      width: auto;
    }
  }
}
