.walkthrough {
  background-color: $white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .nav-placeholder {
    .nav-placeholder-title {
      color: $primary;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 600;
      margin: 0px;
      @extend .py-4;
      i {
        margin-right: 0.45rem;
      }
    }
  }

  footer {
    // height: 65px;
    padding-bottom: 35px;

    p {
      // font-size: 1.2rem;
      font-weight: 400;
      color: $primary;
      text-align: center;
    }
  }

  .walkthrough-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .walkthrough-hero {
      height: 250px;
      aspect-ratio: 39/20;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: inherit;
        height: inherit;
      }
    }
    .walkthrough-title,
    .walkthrough-description {
      text-align: center;
      color: $primary;
      font-weight: 700;
      margin: 0px;
    }
    .walkthrough-description {
      // font-size: 1.2rem;
      font-weight: 400;
    }
    .walkthrough-instruction {
      background-color: rgba($bg-color, 0.05);
      border-radius: 0.5rem;
      padding: 1rem;

      p {
        margin: 0px;
      }
    }
  }
}
