.widget {
  @extend .card;
  @extend .card-body;
  border: 0px;
  background-color: darken(#ffffff, 5%);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  &.widget-clear {
    background-color: transparent;
    border: 0px;
    padding: 0px;
  }

  &.widget-primary {
    background-color: rgba($primary, 0.1);
    color: $bg-color;
    border: 1px solid $primary;
  }
  .widget-header {
    .widget-title {
      font-size: 1.1rem;
      font-weight: 700;
      color: $bg-color;
      margin: 0px;
    }
    .widget-description {
      font-size: 0.9rem;
      color: $text-default-color;
      margin: 0px;
    }
  }
  .widget-footer {
    a {
      display: block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      @extend .py-1;
    }
  }
  .widget-list {
    @extend .d-flex;
    @extend .flex-column;
    @extend .gap-2;
    a {
      text-decoration: none;
    }
    .widget-list-item {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: flex-start;
      .widget-list-item-image {
        width: 6rem;
        height: 6rem;
        aspect-ratio: 1/1;

        &.widget-list-item-image-small {
          width: 3rem;
          height: 3rem;
        }

        i {
          color: $primary;
        }

        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          border-radius: $border-radius;
          border: 1px solid $primary;
        }
      }
      .widget-list-item-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        @extend .gap-2;
        p {
          margin: 0px;
        }

        .widget-list-item-title {
          font-weight: 600;
          font-size: 1.4rem;
          color: $primary;
        }
        .widget-list-item-text {
          font-weight: 600;
          b {
            color: $primary;
          }
          &.widget-list-item-text-light,
          & .widget-list-item-text-light {
            color: $text-default-color;
          }

          &.widget-list-item-text-small,
          & .widget-list-item-text-small {
            font-size: 0.9rem;
          }
        }
      }
    }

    .widget-list-item-small {
      @extend .py-1;
      @extend .px-2;
      @extend .rounded;
      align-items: center;
      background-color: darken(#ffffff, 12%);

      .widget-list-item-content {
        gap: 0px !important;
      }
      .widget-list-item-icon {
        i {
          @extend .mx-2;
          @extend .h5;
        }
      }
    }
  }
}
